<div class="cn-wrapper">
  <ul class="cn-talk-list">
    <li class="cn-talk-list__item" *ngFor="#talk of talks">
      <div class="flag">
        <div class="flag__image">
          <img src="{{ talk.photo }}" width="200" height="150">
        </div>
        <div class="flag__body">
          <h1 class="cn-talk__title cn-text--medium">{{ talk.title }}</h1>
          <div class="cn-talk_time__container">
            <span class="cn-talk__time cn-text--regular">{{ talk.time }}</span>
          </div>
          
          <nav class="cn-talk__nav">
            <a class="btn btn--secondary" role="button" href="{{ talk.video }}" *ngIf="talk.video">
              <svg class="icon--mini">
                <use xlink:href="#icon-play"></use>
              </svg>  
              Watch video
            </a>
            <a class="btn btn--secondary" role="button" href="{{ talk.slidedeck }}" *ngIf="talk.slidedeck">
              <svg class="icon--mini">
                <use xlink:href="#icon-eye"></use>
              </svg>  
              See slides
            </a>
          </nav>
        </div>
      </div>
    </li>
  </ul>  
</div>
