  <ul class="cn-social-media">
    <li>
      <a href="https://plus.google.com/+CiroNunesDev">
        <svg [ngClass]="{'icon-inverse': inverse,
          'icon': size === 'normal', 'icon--small': size === 'small'}">
          <use xlink:href="#icon-gplus"></use>
        </svg>
      </a>
    </li>
    <li>
      <a href="https://github.com/cironunes">
        <svg [ngClass]="{'icon-inverse': inverse,
          'icon': size === 'normal', 'icon--small': size === 'small'}">
          <use xlink:href="#icon-github"></use>
        </svg>
      </a>
    </li>
    <li>
      <a href="https://twitter.com/cironunesdev">
        <svg [ngClass]="{'icon-inverse': inverse,
          'icon': size === 'normal', 'icon--small': size === 'small'}">
        <use xlink:href="#icon-twitter"></use></svg>
      </a>
    </li>
  </ul>