@import "~@ng-select/ng-select/themes/material.theme.css";
@import '~saturn-datepicker/theming';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '../node_modules/@angular/material/theming';

$my-primary: (
    50: red,
    100: #8d538b,
    200: red,
    300: red,
    400: red,
    500: #5e285e,
    600: red,
    700: #320034,
    800: red,
    900: #320034,
    A100: red,
    A200: red,
    A400: red,
    A700: red,
    contrast: (
        50: $dark-primary-text,
        100: $dark-primary-text,
        200: $dark-primary-text,
        300: $light-primary-text,
        400: $light-primary-text,
        500: $light-primary-text,
        600: $light-primary-text,
        700: $light-primary-text,
        800: $light-primary-text,
        900: $light-primary-text,
        A100: $dark-primary-text,
        A200: $light-primary-text,
        A400: $light-primary-text,
        A700: $light-primary-text,
    )
);

$custom-theme-primary: mat-palette($my-primary);
$custom-theme-accent: mat-palette($mat-amber);
$custom-theme-warn: mat-palette($mat-red);

$custom-theme: mat-light-theme($custom-theme-primary, $custom-theme-accent, $custom-theme-warn);

@include sat-datepicker-theme($custom-theme);
@include angular-material-theme($custom-theme);

.backgroud-primary {
    background-color: mat-color($custom-theme-primary, default) !important;
}
.backgroud-primary-lighter {
    background-color: mat-color($custom-theme-primary, lighter) !important;
}
.backgroud-primary-darker {
    background-color: mat-color($custom-theme-primary, darker) !important;
}
.color-primary {
    color: mat-color($custom-theme-primary, default) !important;
}
.color-primary-lighter {
    color: mat-color($custom-theme-primary, lighter) !important;
}
.color-primary-darker {
    color: mat-color($custom-theme-primary, darker) !important;
}

.backgroud-accent {
    background-color: mat-color($custom-theme-accent, default) !important;
}
.backgroud-accent-lighter {
    background-color: mat-color($custom-theme-accent, lighter) !important;
}
.backgroud-accent-darker {
    background-color: mat-color($custom-theme-accent, darker) !important;
}
.color-accent {
    color: mat-color($custom-theme-accent, default) !important;
}
.color-accent-lighter {
    color: mat-color($custom-theme-accent, lighter) !important;
}
.color-accent-darker {
    color: mat-color($custom-theme-accent, darker) !important;
}
.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb{
    background-color: rgb(255, 111, 0);
}
.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar{
    background-color: rgba(255, 111, 0, 0.50);
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected,
.ng-select.ng-select-focused .ng-select-container .ng-value-container .ng-placeholder {
    color: mat-color($custom-theme-primary, lighter) !important;
}
.ng-select.ng-select-focused .ng-select-container:after {
    border-color: mat-color($custom-theme-primary, darker) !important
}
.ng-select.ng-select-focused .ng-select-container .ng-arrow-wrapper .ng-arrow {
    color: mat-color($custom-theme-primary, darker) !important
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  border: 0px none #ffffff;
}
::-webkit-scrollbar-button {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #9e9e9e;
  cursor: pointer;
}
::-webkit-scrollbar-thumb:active {
    background: #929292;
}
::-webkit-scrollbar-track {
  background: transparent;
  border: 0px none #ffffff;
  border-radius: 100px;
}
::-webkit-scrollbar-track:hover {
  background: transparent;
}
::-webkit-scrollbar-track:active {
  background: transparent;
}
::-webkit-scrollbar-corner {
  background: transparent;
}