
/**
 * Reset some basic elements
 */

@import url(http://fonts.googleapis.com/css?family=Cantarell);
body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul, figure, a {
    margin: 0;
    padding: 0;
}
::selection {
    background: #f8d8d8;
    /* WebKit/Blink Browsers */
}
::-moz-selection {
    background: #f8d8d8;
    /* Gecko Browsers */
}

/**
 * Basic styling
 */

body {
    font-family: Cantarell, serif;
    font-size: 16px;
    line-height: 1.5;
    color: #525151;
    -webkit-text-size-adjust: 100%;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */

h1, h2, h3, h4, h5, h6, p, blockquote, pre, ul, ol, dl, figure, .highlight {
    margin-bottom: 15px;
}

/**
 * Lists
 */

ul, ol {
    margin-left: 30px;
}
li> ul, li> ol {
    margin-bottom: 0;
}

/**
 * Headings
 */

h1, h2, h3 h4 {
    font-weight: bold;
}
h5, h6 {
    font-weight: 300;
}
h2, h3, h4 {
    color: #444;
    margin-top: 40px !important;
}
