<div class="container">
    <div class="col-md-10 col-md-offset-1">
        <div class="editable">
            <h1 class="page-header">
                Ivan Augusto Hoinacki
                <small id="phone" class="pull-right">(+55 46) 99919 2169</small>
            </h1>
            <div>
                <h4>
                    Brazilian, <span class="age">33</span> years, married, with child.
                </h4>
                <h4>Pato Branco - Paraná, Brazil.</h4>
            </div>
        </div>

        <div class="editable">
            <h2 class="page-header">Summary of Qualifications</h2>
            <ul>
                <li>Over 15 years of experience in software development, with expertise in various programming languages, frameworks, and tools.</li>
                <li>Strong understanding of scalable and secure software architectures and solid experience in leading multidisciplinary teams.</li>
                <li>Extensive experience in team leadership, mentoring through 1:1 sessions, and structured feedback, as well as managing projects end-to-end.</li>
                <li>Focus on monitoring performance metrics and system health to ensure technical efficiency and resolve complex issues.</li>
                <li>Proven ability to translate stakeholder needs into effective technological solutions aligned with business objectives.</li>
                <li>Track record of implementing agile and DevOps practices to ensure efficiency and high-quality deliveries.</li>
                <li>Strong commitment to continuous learning and professional development.</li>
            </ul>
        </div>

        <div class="editable">
            <h2 class="page-header">Professional Experience</h2>

            <h3>Senior Software Engineer Consulting</h3>
            <p>Ília digital (<a href="https://ilia.digital/">ilia.digital</a>) Brasília - Federal District, Brazil. (November 2023 – Present)</p>
            <ul>
                <li>Lead development teams, focusing on continuous team growth through mentoring and structured feedback.</li>
                <li>Monitor performance and system health metrics to ensure technical efficiency and resolve complex issues.</li>
                <li>Collaborate with stakeholders to understand business needs and translate them into effective technological solutions.</li>
                <li>Define software architecture, ensuring that solutions are scalable, secure, and of high quality.</li>
                <li>Promote agile practices, foster teamwork, and lead the creation of robust APIs and efficient systems with a focus on delivering high-impact results.</li>
            </ul>

            <h3>Tech Lead Specialist</h3>
            <p>Ília digital (<a href="https://ilia.digital/">ilia.digital</a>) Brasília - Federal District, Brazil. (November, 2021 - November 2023)</p>
            <ul>
                <li>Responsible for driving high-level architectural discussions, leading design meetings, and organizing team workflows.</li>
                <li>Mentor team members and implement best practices to foster growth and ensure high-quality deliveries.</li>
                <li>Removed blockers and facilitated communication between stakeholders and the technical team to ensure alignment.</li>
                <li>Performed regular code reviews to maintain quality and efficiency in project deliveries.</li>
            </ul>

            <h3>Senior Software Engineer</h3>
            <p>Ília digital (<a href="https://ilia.digital/">ilia.digital</a>) Brasília - Federal District, Brazil. (September 2020 - November 2021)</p>
            <ul>
                <li>Developed microservices, APIs, and automated tests, ensuring scalability and performance.</li>
                <li>Contributed to infrastructure as code implementation using tools such as Docker, Kubernetes, Terraform, and Helm.</li>
                <li>Led technical decisions, focusing on agile development and optimizing application performance.</li>
            </ul>
            <hr>
            <h3>Staff Software Engineer / Tech Lead</h3>
            <p>Limber Software (<a href="http://www.limbersoftware.com.br">www.limbersoftware.com.br</a>) Pato Branco - Paraná, Brazil. (December 2017 - April 2020)</p>
            <ul>
                <li>Led development teams from project conception to delivery, ensuring quality and meeting deadlines.</li>
                <li>Provided technical leadership, mentoring, and support to the team, identifying opportunities for process improvement.</li>
                <li>Managed project budgets and ensured delivery within financial and time constraints.</li>
                <li>Collaborated with cross-functional teams to ensure efficient and effective project delivery.</li>
            </ul>

            <h3>Tech Lead</h3>
            <p>Limber Software (<a href="http://www.limbersoftware.com.br">www.limbersoftware.com.br</a>) Pato Branco - Paraná, Brazil. (December 2017 - January 2019)</p>
            <ul>
                <li>Defined project requirements, including timelines, resource allocation, and appropriate technologies.</li>
                <li>Ensured product quality, meeting deadlines, and client expectations.</li>
                <li>Implemented agile methodologies and continuous integration processes to improve team efficiency.</li>
            </ul>

            <h3>Senior Software Engineer</h3>
            <p>Limber Software (<a href="http://www.limbersoftware.com.br">www.limbersoftware.com.br</a>) Pato Branco - Paraná, Brazil. (November 2016 - December 2017)</p>
            <ul>
                <li>Developed software solutions based on business needs, system flow, and data usage while investigating problem areas.</li>
                <li>Led the web development team, overseeing CRM, eCommerce, CMS, and mobile applications projects using ReactJS, NodeJS, and Docker.</li>
            </ul>
            <hr>
            <h3>Full Stack Development</h3>
            <p>XPert (<a href="http://www.xpert.com.br">www.xpert.com.br</a>) Pato Branco - Paraná, Brazil. (February 2013 - November 2016)</p>
            <ul>
                <li>Responsible for developing CRM and dashboard applications using HTML, CSS, JavaScript, AngularJS, and JQuery.</li>
            </ul>
            <hr>
            <h3>Full Stack Development</h3>
            <p>SESMO Software for occupational medicine (<a href="http://www.sesmo.com.br">www.sesmo.com.br</a>) Pato Branco - Paraná, Brazil. (April 2012 - February 2013)</p>
            <ul>
                <li>Developed and maintained web applications to meet client needs using HTML5, ASP.NET, C#, and ExtJS.</li>
            </ul>
            <hr>
            <h3>Quality Assurance Analyst / Help Desk</h3>
            <p>Viasoft (<a href="http://www.viasoft.com.br">www.viasoft.com.br</a>) Pato Branco - Paraná, Brazil. (October 2011 - March 2012)</p>
            <ul>
                <li>Managed and executed functionality plans, ensuring that objectives were met and solutions worked as expected.</li>
            </ul>
            <hr>
            <h3>Help Desk</h3>
            <p>C&S Systems (<a href="http://www.csistemas.com.brr">www.csistemas.com.br</a>) Realeza - Paraná, Brazil. (September 2010 - August 2011)</p>
            <ul>
                <li>Provided technical support and desktop development using VBasic 6 and Microsoft SQL Server.</li>
            </ul>
            <hr>
            <h3>Technical of Network and Internet</h3>
            <p>World Line Net (<a href="http://www.wln.com.br">www.wln.com.br</a>) Realeza - Paraná, Brazil. (December 2009 - August 2010)</p>
            <ul>
                <li>Developed web pages and provided customer support for Internet systems using HTML4, CSS, and JavaScript.</li>
            </ul>
        </div>

        <div class="editable">
            <h2 class="page-header">Knowledge in Technology and Management</h2>
            <p>Technical Skills:</p>
            <ul>
                <li>Full-Stack Software Development: Node.js, TypeScript, Java, PHP, C#.</li>
                <li>Front-End Development: HTML5, CSS3, SASS, LESS, JavaScript, Angular, React.</li>
                <li>Mobile Development: Flutter (Dart), Android (Java), Ionic.</li>
                <li>Microservices Architecture and RESTful APIs Development.</li>
                <li>DevOps and CI/CD: Docker, Kubernetes, Terraform, Helm, AWS.</li>
                <li>Infrastructure as Code and Cloud Computing (AWS).</li>
                <li>Database Management: SQL Server, MySQL, PostgreSQL, MongoDB.</li>
                <li>Automated Testing: Unit-testing, TDD, e2e testing.</li>
                <li>Secure Development Practices and Software Performance Optimization.</li>
                <li>Agile Methodologies: Scrum, Kanban.</li>
            </ul>
            <hr>
            <p>Management and Leadership Skills:</p>
            <ul>
                <li>Technical Leadership and Team Development through Mentoring and Structured Feedback.</li>
                <li>Strategic Decision-Making and Complex Problem Solving.</li>
                <li>Project Management and Delivery, including Risk and Stakeholder Management.</li>
                <li>Managing Multidisciplinary Teams and Coordination of Third-Party Professionals.</li>
                <li>Effective Communication, Negotiation, and Alignment with Stakeholders.</li>
                <li>Facilitation of Meetings, Design Sessions, and Technical Workshops.</li>
                <li>Continuous Learning and Professional Development, with strong adaptability to new technologies.</li>
                <li>Fluent in English and Spanish for Professional Communication.</li>
            </ul>
        </div>


        <div class="editable">
            <h2 class="page-header">Education</h2>
            <ul>
                <li>Analysis and Systems Development at University of Pato Branco - FADEP</li>
            </ul>

            <h2 class="page-header">Courses</h2>
            <ul>
                <li>Advanced Algorithms - @ Stanford University</li>
                <li>Test Driven Development (TDD) - @ ITA (Institution of Aeronautics Technology)</li>
                <li>NodeJS Advanced I & II</li>
                <li>JavaScript Advanced I, II, III</li>
                <li>Docker and Kubernetes</li>
                <li>Angular 2.x</li>
                <li>ReactJS</li>
            </ul>
        </div>

        <div class="editable">
            <h2 class="page-header">Foreign Languages</h2>
            <ul>
                <li>English: Intermediate</li>
                <li>Spanish: Basic</li>
            </ul>
        </div>

        <div class="editable">
            <h2 class="page-header">Contact</h2>
            <ul>
                <li>Email: <a href="mailto:ivanhweb@gmail.com">ivanhweb@gmail.com</a></li>
                <li>Page: <a href="https://ivanhoinacki.github.io">https://ivanhoinacki.github.io</a></li>
                <li>LinkedIn: <a href="https://www.linkedin.com/in/ivanhoinacki/">br.linkedin.com/in/ivanhoinacki</a></li>
                <li>GitHub: <a href="https://github.com/ivanhoinacki">github.com/ivanhoinacki</a></li>
                <li>NPM: <a href="https://www.npmjs.org/~ivanhoinacki">www.npmjs.org/~ivanhoinacki</a></li>
            </ul>
        </div>
        <br />
        <br />
    </div>
</div>
