<div class="container">
    <div class="col-md-10 col-md-offset-1">

        <div class="editable">
            <h1 class="page-header">Ivan Augusto Hoinacki
                <small id="phone" class="pull-right">(55 46) 99919 2169</small>
            </h1>
            <div>
                <h4>Brazilian, <span class="age">27</span> years, single, no children.</h4>
                <h4>Pato Branco - Paraná.</h4>
                <h4>Willingness to travel or live outsite.</h4>
            </div>
        </div>

        <div class="editable">
            <h2 class="page-header">Summary of Qualifications.</h2>
            <ul>
            </ul>
            <h4>
                <i>Interest in WEB development.</i>
            </h4>
            <ul>
            </ul>
            <ul>
                <li>Coordinator Web Team at Limber Software.</li>
                <li>Working on projects developing web sites and systems with HTML, CSS, Javascript(NodeJS) and Angular 7.x.</li>
                <li>Developer for mobile applications with Ionic, Angular and NodeJS.</li>
            </ul>
        </div>
        <div class="editable">
            <h2 class="page-header">Professional Experience.</h2>
            <div>
            </div>
            <div>
                <h3>Coordinator Web Team.</h3>
                <ul>
                </ul>
                <p> Limber Software (<b><a href="http://www.limbersoftware.com.br">www.limbersoftware.com.br</a></b>) Pato Branco, Paraná. (December, 2017 - yet).</p>
                <ul>
                </ul>
                <ul>
                    <li>Coordinator Web Team at Limber Software.</li>
                    <li>Planning and allocation of tasks to team players.</li>
                    <li>Control versions of the products and aid developers in tasks performed.</li>
                    <li>Liberation of releases and configuration of projects on Linux and Windows platforms.</li>
                    <li>Coding and maintenance of web projects.</li>
                </ul>
                <h3>Full Stack Development.</h3>
                <ul>
                </ul>
                <p>Limber Software (<b><a href="http://www.limbersoftware.com.br">www.limbersoftware.com.br</a></b>) Pato Branco, Paraná. (November, 2016 - Dec, 2017).</p>
                <ul>
                </ul>
                <ul>
                    <li>Web development team leader at Limber Software, developers applications with CRM and eCommerce, hospitality, clubs for the tourism follow-up.</li>
                    <li>Web developer: HTML5. Angular 7.x, CSS3. Unit-testing. NodeJS. Electron.</li>
                </ul>
                <h3>Full Stack Development.</h3>
                <ul>
                </ul>
                <p>XPert (<b><a href="http://www.xpert.com.br">www.xpert.com.br</a></b>) Pato Branco, Paraná. (February, 2013 - November, 2016).</p>
                <ul>
                </ul>
                <ul>
                    <li>WEB development: HTML. XHMTL. CSS. CSS3. JavaScript. JQuery. JQueryMobile. AngularJS. Flash Builder 4. ActionScript. PHP.</li>
                    <li>Creating Reports: PHP (FPDF).</li>
                    <li>Electronic Tax Invoice: PHP (NFePhp).</li>
                    <li>SGBD: SQL Server 2000, 2005, 2008, 2012 e MySQL.</li>
                </ul>
                <h3>Full Stack Development.</h3>
                <ul>
                </ul>
                <p>SESMO Software for occupational medicine (<b><a href="http://www.sesmo.com.br">www.sesmo.com.br</a></b>) Pato Branco, Paraná. (October, 2011 - February, 2013).</p>
                <ul>
                </ul>
                <ul>
                    <li>Development and maintain web applications to meet their client's needs. Jobs can range from creating a staff intranet license for an organisation to building a system medical.</li>
                    <li>Web developer: HTML5. Asp.NET. C#. ExtJS. Hibernate. </li>
                    <li>Creating Reports: FastReport e QuickReport.</li>
                    <li>Database: FireBird.</li>
                </ul>
                <h3>Analyst Tests.</h3>
                <ul>
                </ul>
                <p>Viasoft (<b><a href="http://www.viasoft.com.br">www.viasoft.com.br</a></b>) Pato Branco, Paraná. (September, 2010 - August, 2011).</p>
                <ul>
                </ul>
                <ul>
                    <li>Writing and executing the functionality plan managing all activities, to ensure that all the objectives are met and that the solution works as expected and technical of support..</li>
                    <li>Creating Reports: QuickReport, Business intelligence.</li>
                    <li>Database: Oracle.</li>
                </ul>
                <h3>Technical of Network and Internet</h3>
                <ul>
                </ul>
                <p>World Line Net (<b><a href="http://www.wln.com.br">www.wln.com.br</a></b>) Realeza, Paraná. (September, 2009 - August, 2010).</p>
                <ul>
                </ul>
                <ul>
                    <li>Technical of Internet and Servers, developer at construction the Home Pages and support to customers both in the connectivity as the use of Internet systems.</li>
                    <li>Web developer: HTML4/XHTML, CSS, JavaScript.</li>
                    <li>Network infrastructure: Mikrotiks and NanoStations</li>
                </ul>
                <h3>Technical of Network and Internet</h3>
                <ul>
                </ul>
                <p>C&S Systems (<b><a href="http://www.csistemas.com.brr">www.csistemas.com.br</a></b>) Realeza, Paraná. (September, 2009 - August, 2010).</p>
                <ul>
                </ul>
                <ul>
                    <li>Technical of support.</li>
                    <li>Desktop developer: VBasic 6</li>
                    <li>Database: Microsoft SQL Server.</li>
                </ul>
            </div>
        </div>
       <div class="editable">
            <h2 class="page-header">Knowledge in Technology.</h2>
            <ul>
            </ul>
            <ul>
                <li>WEB development: HTML5. XHTML. CSS. CSS3. SASS. LESS. JavaScript. JQuery. AngularJS. Angular 7.x. Bootstrap. Material Design. Flash Builder 4. PHP. ZEND. Java. NodeJs. C#. Hibernate.</li>
                <li>Desktop development: Object Pascal (Delphi7, Delphi2007, Delphi2010). Visual Basic. Java.</li>
                <li>Mobile development: Ionic. PhoneGap. Android (Java). JQueryMobile.</li>
                <li>Creating Reports: FPDF. DOMPDF. FastReport. QuickReport.</li>
                <li>Electronic Tax Invoice. Electronic Knowledge of Transportation: NFePHP.</li>
                <li>SGBD: Sql Server 2000, 2005, 2008, 2012. DB2. MySql. PostgreSql. MongoDB. </li>
                <li>Testing: Unit-testing, e2e.</li>
            </ul>

        </div>

        <div class="editable">
            <h2 class="page-header">Education.</h2>
            <ul>
            </ul>
            <ul>
                <li>Analysis and systems development at University of Pato Branco - FADEP. </li>
                <li>High School State Twelve November.</li>
            </ul>
            <h2 class="page-header">Courses.</h2>
            <ul>
            </ul>
            <ul>
                <li>Academic monitoring of AngularJS at University of Pato Branco - FADEP - Year(2017).</li>
                <li>Academic monitoring of JavaScript at University of Pato Branco - FADEP - Year(2017).</li>
                <li>Get Started In UX Design/UI Mastery - Year(2015).</li>
                <li>AngularJS 1.x Standars - Year(2015).</li>
                <li>Designing RESTful APIs - Year(2014).</li>
                <li>Formation Frontend and development with JavaScript e jQuery - Year(2012).</li>
                <li>Html5 and Web Standards - Year(2010).</li>
            </ul>
        </div>
        <div class="editable">
            <h2 class="page-header">Foreign Languages.</h2>
            <ul>
            </ul>
            <ul>
                <li>Language: English.</li>
                <li>School: Wizard
                  <a>www.wizard.com.br</a>
                </li>
                <li>Description: communicative approach and focusing on issues and writing.</li>
            </ul>
        </div>
        <div class="editable">
            <h2 class="page-header">Contact.</h2>
            <ul>
            </ul>
            <ul>
                <li>Email: <a href="mailto:ivanhweb@gmail.com">ivanhweb@gmail.com</a>.</li>
                <li>Page: <a href="https://ivanhoinacki.github.io">https://ivanhoinacki.github.io</a>.</li>
                <li>Linkedin: <a href="http://br.linkedin.com/in/ivanhoinacki">br.linkedin.com/in/ivanhoinacki</a>.</li>
                <li>Github: <a href="https://github.com/ivanhoinacki">github.com/ivanhoinacki</a>.</li>
                <li>NPM: <a href="https://www.npmjs.org/~ivanhoinacki">www.npmjs.org/~ivanhoinacki</a>.</li>
            </ul>
        </div>
        <br>
        <br>
    </div>
</div>
