#phone {
    font-size: 25px;
    float: right !important;
}

@media (max-width: 767.98px) {
    #phone {
        font-size: 16px;
        float: right !important;
        margin-top: -51px;
    }
}

* {
    font-family: "Maven Pro", "Helvetica Neue", Helvetica, sans-serif;
}

body {
    color: #555 !important;
    cursor: pointer;
}

.hide {
    display: none;
}

.container a {
    color: #337ab7 !important;
    text-decoration: none;
    cursor: pointer;
}

h3 {
    font-size: 24px;
}

@media print {
    .no-print,
    .no-print * {
        display: none !important;
    }
}

@media print {
    a[href]:after {
        content: none !important;
    }
}

@media print {
    a[href]:after {
        content: " (" attr(href) ")";
    }
}

.content-list {
    display: block;
    text-align: left;
}

.content-list-item {
    padding-top: 15px;
}

.content-item-title {
    padding: 2px 12px;

    border-left: solid 5px #02d27e;

    font-weight: 900;
}

.content-courseList-courseName {
    line-height: 1.29;
    margin-top: 5px;
    font-weight: 400;
}
