<div class="container">
    <div class="col-md-10 col-md-offset-1">
        <div class="editable">
            <h1 class="page-header">
                Ivan Augusto Hoinacki
                <small id="phone" class="pull-right">(+55 46) 99919 2169</small>
            </h1>
            <div>
                <h4>
                    Brazilian, <span class="age">31</span> years, married, with child.
                </h4>
                <h4>Pato Branco - Paraná, Brazil.</h4>
                <h4>Willingness to travel or live outsite.</h4>
            </div>
        </div>

        <div class="editable">
            <h2 class="page-header">Summary of Qualifications.</h2>
            <ul>
                <li>9 years of experience in web development</li>
                <li>Certified JavaScript Developer Specialist</li>
                <li>Expertise in Angular, ReactJS, and NodeJS</li>
                <li>Focus on agile development and application performance</li>
                <li>Experience in team leadership and DevOps methodologies</li>
                <li>Interest in Backend NodeJS (Remote)</li>
            </ul>
        </div>
        <div class="editable">
            <h2 class="page-header">Professional Experience.</h2>
            <div></div>
            <div>
                <h3>Tech Leader Specialist</h3>
                <ul></ul>
                <p>
                    Ília digital (<b
                        ><a href="https://ilia.digital/">ilia.digital</a></b
                    >) Brasília - Federal District, Brazil. (November, 2021 -
                    yet).
                </p>
                <ul></ul>
                <ul>
                    <li>
                        I am responsible for driving high-level architectural discussions, leading design meetings and tech breakdowns, and organizing the work of the team by breaking down feature epics into stories and tasks. I also help prioritize the work and ensure that the right things get done at the right time by removing blockers, whether it be chasing down answers to questions for the product owner, UX designer, or engineers from other teams or working with a teammate to clarify acceptance criteria on a ticket. Additionally, I am responsible for mentoring my teammates and leveling up the team by implementing and enforcing best practices, as well as regularly sharing articles, advice, and ideas. I also perform code reviews on a daily basis to ensure pull requests are addressed in a timely manner.
                    </li>
                </ul>

                <h3>Senior Software Engineer</h3>
                <ul></ul>
                <p>
                    Ília digital (<b
                        ><a href="https://ilia.digital/">ilia.digital</a></b
                    >) Brasília - Federal District, Brazil. (September, 2020 -
                    November, 2021).
                </p>
                <ul></ul>
                <ul>
                    <li>
                        As Senior Software Engineer at Ília digital, I was responsible for the development of microservices, APIs, and automated tests using Node.JS. I also contributed to the structural modeling of the project to ensure persistence and scalability standards were met. Additionally, I was involved in DevOps, CI/CD, and the implementation of infrastructure as code using tools such as Docker, Kubernetes, Terraform, and Helm chart. My focus was on agile development and application performance, and I also brought my experience in team leadership to the role.
                    </li>
                </ul>

                <h3>Tech Leader</h3>
                <ul></ul>
                <p>
                    Limber Software (<b
                        ><a href="http://www.limbersoftware.com.br"
                            >www.limbersoftware.com.br</a
                        ></b
                    >) Pato Branco - Paraná, Brazil. (December, 2017 - April,
                    2020).
                </p>
                <ul></ul>
                <ul>
                    <li>As the Tech Leader at Limber Software, my main responsibilities were to determine project requirements, develop work schedules for the team, delegate tasks, achieve daily, weekly, and monthly goals, liaise with team members, management, and clients to ensure projects were completed, oversee the liberation of releases, configure projects on Linux and Windows platforms, and ensure cybersecurity for servers. Additionally, I was also responsible for coding and maintenance of web projects, using technologies such as Angular, React, Hooks, Context Api, styled-components, Styled-System, Yup, Jest for testing, Monorepo, Api Rest, NodeJS, Electron, GCP, AWS, and Docker, Kubernetes.
                    </li>
                </ul>

                <h3>Senior Software Engineer</h3>
                <ul></ul>
                <p>
                    Limber Software (<b
                        ><a href="http://www.limbersoftware.com.br"
                            >www.limbersoftware.com.br</a
                        ></b
                    >) Pato Branco - Paraná, Brazil. (November, 2016 - December,
                    2017).
                </p>
                <ul></ul>
                <ul>
                    <li>
                        Senior Software Engineer at Limber Software, where I developed software solutions by studying information needs, conferring with users, studying systems flow, data usage, and work processes; investigating problem areas; and following the software development lifecycle. I was also a Web developer team leader for Limber Software, developers of CRM, eCommerce, CMS, panels, hybrid mobile applications with ReactJS, NodeJS, Angular, Docker, or native in Flutter.
                    </li>
                </ul>
                <h3>Full Stack Development.</h3>
                <ul></ul>
                <p>
                    XPert (<b
                        ><a href="http://www.xpert.com.br"
                            >www.xpert.com.br</a
                        ></b
                    >) Pato Branco - Paraná, Brazil. (February, 2013 - November,
                    2016).
                </p>
                <ul></ul>
                <ul>
                    <li>
                        As a web developer at XPert, I was responsible for the development of CRM and dashboard applications. My main skills in this position included web development using HTML, XHTML, CSS, CSS3, JavaScript, JQuery, JQueryMobile, AngularJS, and Flash Builder 4.</li>
                </ul>
                <h3>Full Stack Development.</h3>
                <ul></ul>
                <p>
                    SESMO Software for occupational medicine (<b
                        ><a href="http://www.sesmo.com.br"
                            >www.sesmo.com.br</a
                        ></b
                    >) Pato Branco - Paraná, Brazil. (April, 2012 - February,
                    2013).
                </p>
                <ul></ul>
                <ul>
                    <li>
                        Development and maintain web applications to meet their
                        client's needs. Jobs can range from creating a staff
                        intranet license for an organisation to building a
                        system medical.
                    </li>
                    <li>
                        Web developer: HTML5. Asp.NET. C#. ExtJS. Hibernate.
                    </li>
                    <li>Creating Reports: FastReport e QuickReport.</li>
                    <li>Database: FireBird.</li>
                </ul>
                <h3>Quality Assurance Analyst / Help Desk.</h3>
                <ul></ul>
                <p>
                    Viasoft (<b
                        ><a href="http://www.viasoft.com.br"
                            >www.viasoft.com.br</a
                        ></b
                    >) Pato Branco - Paraná, Brazil. (October, 2011 - March,
                    2012).
                </p>
                <ul></ul>
                <ul>
                    <li>
                        Writing and executing the functionality plan managing
                        all activities, to ensure that all the objectives are
                        met and that the solution works as expected and
                        technical of support.
                    </li>
                    <li>
                        Creating Reports: QuickReport, Business intelligence.
                    </li>
                    <li>Database: Oracle.</li>
                </ul>
                <h3>Help Desk</h3>
                <ul></ul>
                <p>
                    C&S Systems (<b
                        ><a href="http://www.csistemas.com.brr"
                            >www.csistemas.com.br</a
                        ></b
                    >) Realeza - Paraná, Brazil. (September, 2010 - August,
                    2011).
                </p>
                <ul></ul>
                <ul>
                    <li>Technical of support.</li>
                    <li>Desktop developer: VBasic 6</li>
                    <li>Database: Microsoft SQL Server.</li>
                </ul>

                <h3>Technical of Network and Internet</h3>
                <ul></ul>
                <p>
                    World Line Net (<b
                        ><a href="http://www.wln.com.br">www.wln.com.br</a></b
                    >) Realeza - Paraná, Brazil. (December, 2009 - August,
                    2010).
                </p>
                <ul></ul>
                <ul>
                    <li>
                        Technical of Internet and Servers, developer at
                        construction the Home Pages and support to customers
                        both in the connectivity as the use of Internet systems.
                    </li>
                    <li>Web developer: HTML4/XHTML, CSS, JavaScript.</li>
                    <li>Network infrastructure: Mikrotiks and NanoStations</li>
                </ul>
            </div>
        </div>
        <div class="editable">
            <h2 class="page-header">Knowledge in Technology.</h2>
            <ul></ul>
            <ul>
                <li>
                    Web development: HTML5. XHTML. CSS. CSS3. SASS. LESS.
                    JavaScript. JQuery. AngularJS. Angular 7.x. Bootstrap.
                    Material Design. Flash Builder 4. PHP. ZEND. Java. NodeJs.
                    C#. Hibernate.
                </li>
                <li>
                    Desktop development: Object Pascal (Delphi7, Delphi2007,
                    Delphi2010). Visual Basic. Java.
                </li>
                <li>
                    Mobile development: Ionic. PhoneGap. Android (Java).
                    JQueryMobile.
                </li>
                <li>
                    Creating Reports: FPDF. DOMPDF. FastReport. QuickReport.
                </li>
                <li>
                    Electronic Tax Invoice. Electronic Knowledge of
                    Transportation: NFePHP.
                </li>
                <li>
                    SGBD: Sql Server 2000, 2005, 2008, 2012. DB2. MySql.
                    PostgreSql. MongoDB.
                </li>
                <li>Testing: Unit-testing, e2e.</li>
            </ul>
        </div>

        <div class="editable">
            <h2 class="page-header">Education.</h2>
            <ul></ul>
            <ul>
                <li>
                    Analysis and systems development at University of Pato
                    Branco - FADEP.
                </li>
                <li>High School State Twelve November.</li>
            </ul>
            <h2 class="page-header">Courses.</h2>
            <ul></ul>
            <ul>
                <li>
                    Certified JavaScript Developer by International JavaScript Institute, a.k.a. IJSI.
                </li>
                <li>NodeJS Advanced I, II </li>
                <li>JavaScritpt Advanced I, II, III </li>
                <li>Docker And Kubernetes </li>
                <li>Angular 2.x </li>
                <li>ReactJS </li>
            </ul>
        </div>
        <div class="editable">
            <h2 class="page-header">Foreign Languages.</h2>
            <ul></ul>
            <ul>
                <li>Language: English.</li>
                <li>
                    School:
                    <a href="gofluent.com">gofluent.com</a>
                </li>
                <li>
                    Description: communicative approach and focusing on issues
                    and writing.
                </li>
                <li>
                    Level: B2+
                </li>
            </ul>
        </div>
        <div class="editable">
            <h2 class="page-header">Contact.</h2>
            <ul></ul>
            <ul>
                <li>
                    Email:
                    <a href="mailto:ivanhweb@gmail.com">ivanhweb@gmail.com</a>.
                </li>
                <li>
                    Page:
                    <a href="https://ivanhoinacki.github.io"
                        >https://ivanhoinacki.github.io</a
                    >.
                </li>
                <li>
                    Linkedin:
                    <a href="https://www.linkedin.com/in/ivanhoinacki/"
                        >br.linkedin.com/in/ivanhoinacki</a
                    >.
                </li>
                <li>
                    Github:
                    <a href="https://github.com/ivanhoinacki"
                        >github.com/ivanhoinacki</a
                    >.
                </li>
                <li>
                    NPM:
                    <a href="https://www.npmjs.org/~ivanhoinacki"
                        >www.npmjs.org/~ivanhoinacki</a
                    >.
                </li>
            </ul>
        </div>
        <br />
        <br />
    </div>
</div>
