.wrapper {
    margin: 0 auto;
    max-width: 422px;
}
@media only screen and (max-width: 442px) {
    .wrapper {
        padding: 0 20px;
    }
}
@media only screen and (min-width: 764px) {
    .wrapper {
        max-width: 724px;
    }
}
@media only screen and (min-width: 980px) {
    .wrapper {
        max-width: 940px;
    }
}
.title {
    font-size: 20px;
    text-transform: uppercase;
    line-height: 1;
    margin: 0;
}
.text--light {
    font-weight: 300;
}
.text--regular {
    font-weight: 400;
}
.text--medium {
    font-weight: 500;
}
.text--bold {
    font-weight: 700;
}
.text--black, .tag {
    font-weight: 900;
}
.text--centralized {
    text-align: center;
}
.grid {
    display: flex;
}
.grid-cell--full {
    flex: 1;
}
.grid--fit> .grid-cell {
    flex: 1;
}
.grid--full> .grid-cell {
    flex: 0 0 100%;
}
.grid--1of2> .grid-cell {
    flex: 0 0 50%;
}
.grid--1of3> .grid-cell {
    flex: 0 0 33.3333%;
}
.grid--1of4> .grid-cell {
    flex: 0 0 25%;
}
.aligner {
    display: flex;
    align-items: center;
    justify-content: center;
}
.aligner--left {
    justify-content: flex-start;
}
.aligner--right {
    justify-content: flex-end;
}
.aligner-item {
    max-width: 50%;
}
.aligner-item--top {
    align-self: flex-start;
}
.aligner-item--bottom {
    align-self: flex-end;
}
.flag {
    display: table;
    width: 100%;
}
.flag__image, .flag__body {
    display: table-cell;
    vertical-align: middle;
}
.flag--top .flag__image, .flag--top .flag__body {
    vertical-align: top;
}
.flag--bottom .flag__image, .flag--bottom .flag__body {
    vertical-align: bottom;
}
.flag__image {
    padding-right: 10px;
}
.flag__image> img {
    display: block;
    max-width: none;
}
.flag--rev .flag__image {
    padding-right: 0;
    padding-left: 10px;
}
.flag__body {
    width: 100%;
}
body {
    font-family: Roboto, sans-serif;
    background-color: #fff;
    color: #2f2f2f;
}
a svg {
    transition: all .2s ease-in-out;
}
a:hover svg {
    transform: scale(1.2);
    transform-origin: 50% 50%;
}
.icon {
    width: 64px;
    height: 64px;
    fill: #2f2f2f;
}
.icon--small {
    width: 32px;
    height: 32px;
    fill: #2f2f2f;
}
.icon--mini {
    width: 16px;
    height: 16px;
    fill: #2f2f2f;
}
.icon-inverse {
    fill: #fff;
}
.loading {
    background-color: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.hidden {
    visibility: hidden;
}
.header {
    position: absolute;
    z-index: 1;
    width: 100%;
    padding: 20px 0;
}
.navigation {
    word-spacing: 20px;
}
.navigation .router-link-active {
    border-bottom: 5px solid #fae34c;
}
.navigation a {
    padding-bottom: 2px;
    font-size: 14px;
    text-decoration: none;
    color: #2f2f2f;
}
.navigation a:hover {
    border-bottom: 5px solid #fae34c;
}
.footer {
    background-color: #2b2b2b;
    text-align: center;
    padding: 20px 0;
}
.social-media {
    margin: 0;
    padding: 0;
}
.social-media li {
    display: inline-block;
    padding: 0 15px;
}
.tag {
    font-size: 11px;
    text-transform: uppercase;
    background-color: #cf4b3f;
    color: #fff;
    padding: 3px 5px;
}
.video {
    position: relative;
    background-color: #000;
    height: 100%;
}
.video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.btn {
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    padding: 10px 18px;
    border-radius: 3px;
}
.btn--secondary {
    color: #2f2f2f;
    background-color: #f9f9f8;
    border: 1px solid #e9e9e9;
}
.btn--secondary:hover {
    background-color: #2f2f2f;
    color: #f9f9f8;
}
.btn--secondary:hover .icon--mini {
    fill: #fff;
}
.btn--secondary .icon--mini {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}
.btn--goto {
    border: 3px solid #2f2f2f;
    color: #2f2f2f;
}
.btn--goto:hover {
    background-color: #2f2f2f;
    color: #f9f9f8;
}
.btn--goto:hover .icon--mini {
    fill: #fff;
}
