<img class="cn-greeting__photo" src="assets/profile.png"> 

<h1 class="cn-greeting__title cn-text--medium">Hi, I'm Ciro Nunes</h1>
<p class="cn-greeting__description cn-text--light">
  <span class="cn-greeting__description__item">Lead Frontend Engineer at <a href="//crossengage.io" class="cn-greeting__description__item--ce cn-text--medium">Cross Engage</a></span>
  <span class="cn-greeting__description__item">Google Developer Expert in <a href="//angular.io" class="cn-greeting__description__item--ng cn-text--medium">Angular</a></span>
</p>

<cn-social-media [size]="'small'"></cn-social-media>

<a role="button" class="cn-greeting__scroll" href="#scroll" cn-scroll>
   <svg class="icon--small">
    <use xlink:href="#icon-chevron-down"></use>
  </svg>  
</a>