<div class="cn-wrapper">
  <h2 class="cn-title cn-text--medium cn-text--centralized">Current projects</h2>

  <ul>
    <li>
      <img src="">
      <div>
        <h3>Cross Engage</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sagittis arcu at mollis malesuada.</p>
      </div>
    </li>
    <li>
      <img src="">
      <div>
        <h3>Angular & Angular CLI</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sagittis arcu at mollis malesuada.</p>
      </div>
    </li>
  </ul>
</div>
