/**
  * :host
  *   h2.cn-what__title
  *     ul.cn-what
  *       li.cn-what__item | cn-what__item--developing | cn-what__item--speaking | cn-what__item--training
  *         div.cn-what__item__container
  *           p.cn-what__item__text
  */
:host {
  display: block;
  padding-bottom: 60px; }

.cn-what__title {
  margin-bottom: 40px; }

.cn-what {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
  text-align: center; }
  @media only screen and (min-width: 980px) {
    .cn-what {
      display: flex;
      margin-left: -20px; } }

.cn-what__item {
  text-align: left;
  margin-bottom: 30px; }
  @media only screen and (min-width: 980px) {
    .cn-what__item {
      display: flex;
      margin-bottom: 0; } }
  .cn-what__item .flag__image {
    padding-right: 20px; }

.cn-what > .cn-what__item:last-child {
  margin-bottom: 0; }

@media only screen and (min-width: 980px) {
  .cn-what__item--speaking .flag__image {
    padding-right: 0; } }

.cn-what__item__text {
  font-size: 15px;
  line-height: 20px; }

@media only screen and (min-width: 980px) {
  .cn-what__item__container {
    margin-left: 20px; } }
