<div id="scroll" class="cn-wrapper">
  <h2 class="cn-what__title cn-title cn-text--medium cn-text--centralized">What I do</h2>

  <ul class="cn-what">
    <li class="cn-what__item cn-what__item--developing">
      <div class="cn-what__item__container">
        <div class="flag">
          <div class="flag__image">
            <svg class="icon">
              <use xlink:href="#icon-terminal"></use>
            </svg>  
          </div>
          <div class="flag__body">
            <p class="cn-what__item__text">
              <strong>Web Development:</strong>
              I’ve been developing web sites, applications and development tools since 2009
            </p>
          </div>
        </div>
      </div>
    </li>
    
    <li class="cn-what__item cn-what__item--speaking">
      <div class="cn-what__item__container">
        <div class="flag">
          <div class="flag__image">
            <svg class="icon">
              <use xlink:href="#icon-mic"></use>
            </svg>
          </div>
          <div class="flag__body">
            <p class="cn-what__item__text">
              <strong>Conference Speaking:</strong>
              I love to share knowledge. <a href="mailto:ciroanunes@gmail.com">Invite me to your conference</a>
            </p>
          </div>
        </div>
      </div>
    </li>
    
    <li class="cn-what__item cn-what__item--training">
      <div class="cn-what__item__container">
        <div class="flag">
          <div class="flag__image">
            <svg class="icon">
              <use xlink:href="#icon-stats"></use>
            </svg>
          </div>
          <div class="flag__body">
            <p class="cn-what__item__text">
              <strong>Developer Training:</strong>
              I regularly minister workshops, courses and codelabs
            </p>
          </div>
        </div>
      </div>
    </li>
  </ul>  
</div>
