<div class="conteudo-injetado">
    <router-outlet></router-outlet>
</div>
<footer>
    <div class="button-background" (click)="onClickOverlay()">
        <div class="button-toggle" id="toggle">
            <span class="top"></span>
            <span class="middle_1"></span>
            <span class="middle_2"></span>
            <span class="bottom"></span>
        </div>
    </div>
    <!--menu overlay-->
    <div class="overlay" id="overlay">
        <nav>
            <ul>
                <li>
                    <a [routerLink]="['/']" (click)="onClickOverlay()">Home</a>
                </li>
                <li>
                    <a [routerLink]="['./resume']" (click)="onClickOverlay()">Resume</a>
                </li>
            </ul>
            <div class="overlay-about">
                <img src="https://s.gravatar.com/avatar/dde18c27d4089be3e93db25c42456247?size=40&default=retro" align="middle"/>
                <span>
                    <a target="_blank" href="https://www.linkedin.com/in/ivanhoinacki/">&nbsp;ivanhoinacki</a>
                </span>
            </div>
        </nav>
    </div>
</footer>
