<ul class="social-media">
  <li>
    <a href="https://plus.google.com/101327672854263730148">
      <svg class="icon--mini" highlight>
        <use xlink:href="#icon-gplus"></use>
      </svg>
    </a>
  </li>
  <li>
    <a href="https://github.com/ivanhoinacki" >
      <svg class="icon--mini" highlight>
        <use xlink:href="#icon-github"></use>
      </svg>
    </a>
  </li>
  <li>
    <a href="https://twitter.com/ivanhoinacki">
      <svg class="icon--mini" highlight>
        <use xlink:href="#icon-twitter"></use>
      </svg>
    </a>
  </li>
</ul>
