.social-media {
  margin: 0;
  padding: 0;
  display: inline-flex;
}

.social-media li {
  display: inline-block;
  padding: 0 15px;
}

.icon--small {
  width: 32px;
  height: 32px;
  fill: #2f2f2f;
}

.icon--mini {
  width: 16px;
  height: 16px;
  fill: #2f2f2f;
}
