<div class="cn-wrapper cn-upcoming">
  <div class="grid-cell">
    <h2 class="cn-upcoming__pre cn-text--regular">Upcoming talk:</h2>
    <h3 class="cn-upcoming__title cn-text--bold">Angular 2 and the single immutable state tree @ NG-NL 2016</h3>
    <span class="cn-upcoming__ww cn-text--regular"><time>Feb 18th</time> Amsterdam, Netherlands</span>
  </div>

  <div class="grid-cell cn-upcoming__column-right">
    <a href="http://ng-nl.org/" class="btn btn--goto cn-upcoming__goto">
      <svg class="icon--mini">
        <use xlink:href="#icon-new-tab"></use>
      </svg>  
      Go to conference site
    </a>
    <div>
      <a href="#/talks" class="cn-upcoming__seeall">See all my talks</a>
    </div>
  </div>  
</div>
