.grid {
  display: flex; }

.grid-cell--full, .cn-upcoming__column-right {
  flex: 1; }

.grid--fit > .grid-cell {
  flex: 1; }

.grid--full > .grid-cell {
  flex: 0 0 100%; }

.grid--1of2 > .grid-cell {
  flex: 0 0 50%; }

.grid--1of3 > .grid-cell {
  flex: 0 0 33.3333%; }

.grid--1of4 > .grid-cell {
  flex: 0 0 25%; }

.aligner, .cn-upcoming__column-right {
  display: flex;
  align-items: center;
  justify-content: center; }

.aligner--left {
  justify-content: flex-start; }

.aligner--right, .cn-upcoming__column-right {
  justify-content: flex-end; }

.aligner-item {
  max-width: 50%; }

.aligner-item--top {
  align-self: flex-start; }

.aligner-item--bottom {
  align-self: flex-end; }

:host {
  display: block;
  background-color: #f9f9f8;
  padding: 20px 0;
  border: 1px solid #efefef;
  border-width: 1px 0; }

.cn-upcoming {
  text-align: center; }
  @media only screen and (min-width: 980px) {
    .cn-upcoming {
      display: flex;
      text-align: left; } }

@media only screen and (max-width: 980px) {
  .cn-upcoming__column-right {
    display: block !important; } }

.cn-upcoming__pre {
  font-size: 13px;
  line-height: 1;
  text-transform: uppercase;
  color: #3e2237;
  margin: 0 0 5px; }

.cn-upcoming__title {
  font-size: 18px;
  margin: 0 0 5px; }

.cn-upcoming__ww {
  font-size: 14px;
  display: block;
  margin-bottom: 20px; }
  @media only screen and (min-width: 980px) {
    .cn-upcoming__ww {
      margin-bottom: 0; } }

.cn-upcoming__goto {
  margin-bottom: 20px; }
  .cn-upcoming__goto .icon--mini {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px; }
  @media only screen and (min-width: 980px) {
    .cn-upcoming__goto {
      margin-bottom: 0;
      margin-right: 40px; } }

.cn-upcoming__seeall {
  font-size: 14px;
  color: #2f2f2f; }
