<div class="container">
  <div class="row">
    <div id="resume" name="resume" class="col-md-10 col-md-offset-1">
      <div id="customers">
        <div id="name_and_contact_details">
          <h1 class="editable border-bottom">Ivan Augusto Hoinacki
            <span id="phone">(+55 46) 9 9919-2169</span>
          </h1>
          <div>
            <p>Brazilian, 25 years, single, no children.
              <br>
              Pato Branco - Paraná. - Brazil
              <br>
              Willingness to travel or live outsite.
              <br>
            </p>
          </div>
        </div>
        <div id="summary">
          <h2 class="title border-bottom">Summary of Qualifications</h2>
          <h3 class="title border-bottom">Interest in the development of Web software.</h3>
          <ul>
            <li>Frontend Engieener and expert in AngularJS.</li>
            <li>UI Developer, works with interface enhancements for user interaction.</li>
            <li>Working on projects developing with HTML5, NODEJS, AngularJS 1.x and 2.x, Unit-testing.</li>
            <li>Coordinator of the web development team at Limber Software, develops applications for various types of market niches.</li>
          </ul>
        </div>
        <div id="professional_experience">
          <h2 class="title border-bottom">Professional Experience</h2>
          <div class="experiences">
            <h3 class="title border-bottom">Senior Software Engineer Web</h3>
            <p class="title-business">Limber Softwares
              <b>
                <a>www.limbersoftware.com.br</a>
              </b>
              Pato Branco, Parana(Dezembro, 2016 - yet)</p>
            <ul>
              <li>Coordinator of the web development team at Limber Software, develops applications for various types of market niches.</li>
              <li>Web developer: XHTML/HTML(5) JavaScript(AngularJS 1.x), CSS3(SASS). Unit-testing. NODEJS</li>
            </ul>
          </div>
          <div class="experiences">
            <h3 class="title border-bottom">Senior Software Engineer Web - HOME OFFICE</h3>
            <p class="title-business">Farfetch
              <b>
                <a>www.farfetch.com</a>
              </b>
              Porto, Portugal / Pato Branco, Parana(July, 2016 - December, 2016)</p>
            <ul>
              <li>Development and maintain web applications to meet their clients needs. As a web developer i work for a variety of businesses and private sector organisations.
              </li>
              <li>Web developer: XHTML/HTML(5) JavaScript(AngularJS 1.x and 2.x), CSS3(SASS). Unit-testing.</li>
            </ul>
          </div>
          <div class="experiences">
            <h3 class="title border-bottom">Leader</h3>
            <p class="title-business">University of Pato Branco - Fadep
              <b>
                <a>www.fadep.br</a>
              </b>
              Pato Branco, Paraná. (February, 2016 - November, 2016)</p>
            <ul>
              <li>Teaching students the using JavaScript, AngularJS and software development ability in general.</li>
            </ul>
          </div>
          <div class="experiences">
            <h3 class="title border-bottom">Full Stack Developer</h3>
            <p class="title-business">AGROSHOW - Software for Agribusiness
              <b>
                <a>www.agroshow.com.br</a>
              </b>
              Pato Branco, Paraná. (September, 2015 - July, 2016)</p>
            <ul>
              <li>Development and maintain web applications to meet their clients needs for sales force.</li>
              <li>Web developer: XHTML/HTML(5), JAVA(Play), JavaScript(AngularJS 1.x), CSS3(SASS).</li>
              <li>Database: PostgreSQL.</li>
            </ul>
          </div>
          <div class="experiences">
            <h3 class="title border-bottom">Full Stack Developer</h3>
            <p class="title-business">XPert Technology in Automation
              <b>
                <a>www.xpert.com.br</a>
              </b>
              Pato Branco, Paraná. (February, 2013 - September, 2015)</p>
            <ul>
              <li>Development and maintain web applications to meet their clients needs for fuel sales.</li>
              <li>Web developer: XHTML/HTML(5), PHP(Zend), JavaScript(AngularJS 1.x), CSS3(SASS)</li>
              <li>Mobile: Android Studio.</li>
              <li>Creating Reports: PHP (FPDF, DOMPDF, JSPDF)</li>
              <li>Database: SQL Server 2000 - 2012</li>
            </ul>
          </div>
          <div class="experiences">
            <h3 class="title border-bottom">Full Stack Developer</h3>
            <p class="title-business">GNC Software for occupational medicine
              <b>
                <a>www.sesmo.com.br</a>
              </b>
              Pato Branco, Paraná. (October, 2011 - February, 2013)</p>
            <ul>
              <li>Development and maintain web applications to meet their client's needs. Jobs can range from creating a staff intranet license for an organisation to building a system medical.</li>
              <li>Web developer: XHTML/HTML(5), Asp.NET, C#, ExtJS</li>
              <li>Creating Reports: FastReport e QuickReport.</li>
              <li>Database: FireBird.</li>
            </ul>
          </div>
          <div class="experiences">
            <h3 class="title border-bottom">
              Quality Assurance Analyst / Help Desk
            </h3>
            <p class="title-business">Viasoft Enterprise Softwares
              <b>
                <a>www.viasoft.com.br</a>
              </b>
              Pato Branco, Paraná. (September, 2010 - August, 2011)
            </p>
            <ul>
              <li>Writing and executing the functionality plan managing all activities, to ensure that all the objectives are met and that the solution works as expected and technical of support..</li>
              <li>Creating Reports: QuickReport, Business intelligence.</li>
              <li>Database: Oracle.</li>
            </ul>
          </div>
          <div class="experiences">
            <h3 class="title border-bottom">Technical of Network and Internet</h3>
            <p class="title-business">Word Line Net
              <b>
                <a>www.wln.com.br</a>
              </b>
              Realeza, Paraná. (September, 2009 - August, 2010)</p>
            <ul>
              <li>Technical of Internet and Servers, developer at construction the Home Pages and support to customers both in the connectivity as the use of Internet systems.</li>
              <li>Web developer: HTML4/XHTML, CSS, JavaScript.</li>
              <li>Network infrastructure: Mikrotiks and NanoStations</li>
            </ul>
          </div>
          <div class="experiences">
            <h3 class="title border-bottom">Help Desk</h3>
            <p class="title-business">C&S Sistemas
              <b>
                <a>www.csistemas.com.br</a>
              </b>
              Realeza, Paraná. (January, 2008 - August, 2009)</p>
            <ul>
              <li>Technical of support.</li>
              <li>Desktop developer: VBasic 6</li>
              <li>Database: Microsoft SQL Server.</li>
            </ul>
          </div>
        </div>
        <div id="skills">
          <h2 class="title border-bottom">Knowledge in Technology</h2>
          <ul>
            <li>Frontend: XHTML. HTML(5). CSS3(SASS. LESS). JavaScript(ExtJS. JQuery. AngularJS 1.x and 2.x). WebComponents(Polymer. Bootstrap. Angular Material.) Flash Builder 4.</li>
            <li>Backend: Java(EE. Play. Spring. Hibernate.). C#(Hibernate).</li>
            <li>Mobile development: Android. Codorva. Ionic. PhoneGap.</li>
            <li>Creating Reports: FastReport. QuickReport. PHP (FPDF). DOMPDF. JSPDF.</li>
            <li>SGBD: Microsoft SQL Server 2000, 2005, 2008, 2012. DB2. MySql. PostgreSQL.</li>
            <li>Testing: Unit-testing, e2e.</li>
          </ul>
        </div>
        <div id="education">
          <h2 class="title border-bottom">Education Background</h2>
          <ul>
            <li>Analysis and systems development at University of Pato Branco - FADEP( Incomplete ).
            </li>
            <li>High School State Twelve November ( Complete ).</li>
          </ul>
          <h2 class="title border-bottom">Certificates</h2>
          <ul>
            <li>Teacher of AngularJS at University of Pato Branco - FADEP - Year(2016).</li>
            <li>Teacher of JavaScript at University of Pato Branco - FADEP - Year(2016).</li>
            <li>Get Started In UX Design/UI Mastery - Year(2015).</li>
            <li>AngularJS 1.x Standars - Year(2015).</li>
            <li>Designing RESTful APIs - Year(2014).</li>
            <li>Formation Frontend and development with JavaScript e jQuery - Year(2012).</li>
            <li>Html5 and Web Standards - Year(2010).</li>
          </ul>
        </div>
        <div id="language_skills">
          <h2 class="title border-bottom">Foreign Languages</h2>
          <ul>
            <li>Language: English.</li>
            <li>School: Wizard
              <a>www.wizard.com.br</a>
            </li>
            <li>Description: communicative approach and focusing on issues and writing.</li>
            <li>Situation: incomplete (14 Months).</li>
          </ul>
        </div>
        <div id="contact_details" class="editable">
          <h2 class="title border-bottom">Contact</h2>
          <div class="editable">
            <ul>
              <li>
                <a id="my-email">email:
                  <b>ivanhweb@gmail.com</b>
                </a>
              </li>
              <li>
                <a id="my-page">page:
                  <b>ivanhoinacki.com</b>
                </a>
              </li>
              <li>
                <a id="my-linkedin">linkedin:
                  <b>br.linkedin.com/in/ivanhoinacki</b>
                </a>
              </li>
              <li>
                <a id="my-github">github:
                  <b>github.com/ivanhoinacki</b>
                </a>
              </li>
              <li>
                <a id="my-npm">npm:
                  <b>www.npmjs.org/~ivanhoinacki</b>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
