<div class="container">
  <div class="row">
    <div id="resume" name="resume" class="col-md-10 col-md-offset-1">
      <div id="customers">
        <div id="name_and_contact_details">
          <h1 class="editable border-bottom">Ivan Augusto Hoinacki
            <span id="phone">(+55 46) 9919-2169</span>
          </h1>
          <div >
            <p>Brasileiro, 25 anos, solteiro, sem filhos.
              <br>
              Pato Branco - Paraná.
              <br>
              Disponibilidade parar morar fora ou viagens.
              <br>
            </p>
          </div>
        </div>
        <div id="summary">
          <h2 class="title border-bottom">Resumo das Qualificações</h2>
          <h4 class="title border-bottom">Interesse no desenvolvimento de softwares Web</h4>
          <ul>
            <li>Frontend Engieener e expert em AngularJS.</li>
            <li>Desenvolvedor UI, trabalha com o melhoramento de interfaces para interação do usuário.</li>
            <li>Trabalha em projetos desenvolvendo aplicações web com HTML5, JAVA, NODEJS, AngularJS 1.x e 2.x., Unit-testing.</li>
            <li>Desenvolve projetos multilinguagens para e-commerce, atendendo Clientes da Europa, Africa e America Latina.</li>
          </ul>
        </div>
        <div id="professional_experience">
          <h2 class="title border-bottom">Experiência Profissional</h2>
          <div class="experiences">
            <h3 class="title border-bottom">Frontend Developer - Home Office</h3>
            <p class="title-business">Farfetch
              <b>
                <a>www.farfetch.com</a>
              </b>
              Porto, Portugal / Pato Branco, Parana(Julho, 2016 - Dezembro, 2016)</p>
            <ul>
              <li>Desenvolve e mantém aplicações web em cloud para atender às necessidades de seus clientes, atuando como desenvolvedor web eu trabalho para uma variedade de empresas e organizações do setor privado.
              </li>
              <li>Desenvolvimento Web: XHTML/HTML(5) JavaScript(AngularJS 1.x e 2.x), CSS3(SASS). Unit-testing.</li>
            </ul>
          </div>
          <div class="experiences">
            <h3 class="title border-bottom">Professor</h3>
            <p class="title-business">Faculdade de Pato Branco - Fadep
              <b>
                <a>www.fadep.br</a>
              </b>
              Pato Branco, Paraná. (Fevereiro, 2016 - Novembro, 2016)</p>
            <ul>
              <li>Ensino aos alunos desenvolver aplicações web utilizando JavaScript, AngularJS e capacidade de desenvolvimento de software em geral.</li>
            </ul>
          </div>
          <div class="experiences">
            <h3 class="title border-bottom">UI/UX Frontend Engineer</h3>
            <p>AGROSHOW Software para Agronegócio
              <b>
                <a>www.agroshow.biz</a>
              </b>
              Pato Branco, Paraná. (Setembro, 2015 - Julho, 2016)</p>
            <ul>
              <li>Trabalho em um projeto multi-camadas o qual atende clientes de dois continentes, utilizando linguagem de alto padrão, para atender o mercado de Agronegócios.</li>
              <li>Desenvolvimento Web: XHTML/HTML(5), JAVA(Play), JavaScript(AngularJS 1.x), CSS3(SASS).</li>
              <li>SGDB: PostgreSQL.</li>
            </ul>
          </div>
          <div class="experiences">
            <h3 class="title border-bottom">Full Stack Developer</h3>
            <p>XPert Tecnologia em Automação
              <b>
                <a>www.xpert.com.br</a>
              </b>
              Pato Branco, Paraná. (Fevereiro, 2013 - Setembro, 2015)</p>
            <ul>
              <li>Desenvolve e mantém aplicações web para atendender clientes no mercado de postos de combustíveis.</li>
              <li>Desenvolvimento Web: XHTML/HTML(5), PHP(Zend), JavaScript(jQuery), CSS(Boostrap)</li>
              <li>Relatórios: PHP (FPDF, DOMPDF, JSPDF)</li>
              <li>Notas Fiscais: PHP (NFePhp).</li>
              <li>SGDB: SQL Server 2000 - 2012.</li>
            </ul>
          </div>
          <div class="experiences">
            <h3 class="title border-bottom">Full Stack Developer</h3>
            <p>GNC Software para medícina ocupacional
              <b>
                <a>www.sesmo.com.br</a>
              </b>
              Pato Branco, Paraná. (Outubro, 2011 - Fevereiro, 2013)</p>
            <ul>
              <li>Desenvolve e mantém aplicações web para atendender clientes no seguimento de medicina ocupacional.</li>
              <li>Desenvolvimento Web: XHTML/HTML(5), Asp.NET, C#, ExtJS.</li>
              <li>Relatórios: FastReport e QuickReport.</li>
              <li>SGDB: FireBird.</li>
            </ul>
          </div>
          <div class="experiences">
            <h3 class="title border-bottom">Help Desk/QA</h3>
            <p>Viasoft Softwares Empresariais
              <b>
                <a>www.viasoft.com.br</a>
              </b>
              Pato Branco, Paraná. (September, 2010 - August, 2011)</p>
            <ul>
              <li>QA em interface para usuários, relatórios personalizados e atendimento ao cliente.</li>
              <li>Relatórios: QuickReport, Business intelligence.</li>
              <li>SGDB: Oracle.</li>
            </ul>
          </div>
          <div class="experiences">
            <h3 class="title border-bottom">Tecnico em Servidor de internet</h3>
            <p>Word Line Net
              <b>
                <a>www.wln.com.br</a>
              </b>
              Realeza, Paraná. (Março, 2009 - Abril, 2010)</p>
            <ul>
              <li>Tecnico em servidores de internet, criação e manutenção em redes, mikrotik e nanoStations, desenvolve paginas para acesso direto do cliente a faturas e status.</li>
              <li>SGDB: MySQL.</li>
              <li>Serviços : FTP. DNS. PPoE. RDP. VPN. Apache.</li>
            </ul>
          </div>
          <div class="experiences">
            <h3 class="title border-bottom">Help Desk</h3>
            <p>CS Sistemas
              <b>
                <a>www.csistemas.com.br</a>
              </b>
              Realeza, Paraná. (Maio, 2008 - Fevereiro, 2009)</p>
            <ul>
              <li>Relatórios personalizados e atendimento ao cliente.</li>
              <li>SGDB: SQL Server.</li>
            </ul>
          </div>
        </div>
        <div id="skills">
          <h2 class="title border-bottom">Conhecimentos em Tecnologia</h2>
          <ul>
            <li>Frontend: XHTML. HTML(5). CSS3(SASS. LESS). JavaScript(ExtJS. JQuery. AngularJS 1.x, 2.x.). WebComponents(Polymer. Bootstrap. Angular Material.) Flash Builder 4.</li>
            <li>Backend: Java(EE. Play. Spring. Hibernate.). C#(Hibernate). PHP.</li>
            <li>Mobile: Android. Codorva. Ionic. PhoneGap.</li>
            <li>Relatórios: FastReport. QuickReport. PHP (FPDF). DOMPDF. JSPDF.</li>
            <li>Nota Fiscal Eletronica: NF-e, NF-c.</li>
            <li>SGBD: Microsoft SQL Server 2000, 2005, 2008, 2012. DB2. MySql. PostgreSQL.</li>
            <li>Test: Unit-testing. e2e.</li>
          </ul>
        </div>
        <div id="education">
          <h2 class="title border-bottom">Formação Acadêmica</h2>
          <ul>
            <li>Analise e desenvolvimento de sistemas na Faculdade de Pato Branco - FADEP( Cursando ).</li>
          </ul>
          <h2 class="title border-bottom">Certificações</h2>
          <ul>
            <li>Professor de AngularJS na Faculdade de Pato Branco - FADEP - Ano(2016).</li>
            <li>Professor de AngularJS na Faculdade de Pato Branco - FADEP - Ano(2016).</li>
            <li>Get Started In UX Design/UI Mastery - Ano(2015).</li>
            <li>AngularJS 1.x Standars - Ano(2015).</li>
            <li>Designing RESTful APIs - Ano(2014).</li>
            <li>Formation Frontend and development with JavaScript e jQuery - Ano(2012).</li>
            <li>Html5 and Web Standards - Ano(2010).</li>
          </ul>
        </div>
        <div id="language_skills">
          <h2 class="title border-bottom">Línguas Estrangeiras</h2>
          <ul>
            <li>Idioma: Inglês.
            </li>
            <li>Escola: Wizard
              <a href="http://www.wizard.com.br/">www.wizard.com.br</a>
            </li>
            <li>Descrição: communicative approach and focusing on issues and writing.
            </li>
            <li>Situação: Incompleto.
            </li>
          </ul>
        </div>
        <div id="contact_details" class="editable">
          <h2 class="title border-bottom">Contato</h2>
          <div class="editable">
            <ul>
              <li>
                <a id="my-email">email:
                  <b>ivanhweb@gmail.com</b>
                </a>
              </li>
              <li>
                <a id="my-page">page:
                  <b>ivanhoinacki.com</b>
                </a>
              </li>
              <li>
                <a id="my-linkedin">linkedin:
                  <b>br.linkedin.com/in/ivanhoinacki</b>
                </a>
              </li>
              <li>
                <a id="my-github">github:
                  <b>github.com/ivanhoinacki</b>
                </a>
              </li>
              <li>
                <a id="my-npm">npm:
                  <b>www.npmjs.org/~ivanhoinacki</b>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <hr/>
      </div>
    </div>
  </div>
</div>
