<div class="container">
  <div class="row">
    <div id="resume" name="resume" class="col-md-10 col-md-offset-1">
      <div id="customers">
        <div id="name_and_contact_details">
          <h1 class="editable border-bottom">Ivan Augusto Hoinacki
            <span id="phone">(+55 46) 9919-2169</span>
          </h1>
          <div>
            <p>Brasileiro, 26 anos, solteiro, sem filhos.
              <br> Pato Branco - Paraná.
              <br> Disponibilidade parar morar fora ou viagens.
              <br>
            </p>
          </div>
        </div>
        <div id="summary">
          <h2 class="title border-bottom">Resumo das Qualificações</h2>
          <h4 class="title border-bottom">Interesse no desenvolvimento web</h4>
          <ul>
            <li>Senior Software Developer e entusiasta por tecnologias.</li>
            <li>Coordenador da equipe de desenvolvimento web da Limber Software e Desenvolvedor UI, trabalha com o melhoramento
              de interfaces para interação do usuário.</li>
            <li>Trabalha em projetos desenvolvendo aplicações web com HTML5, NODEJS, Angular, Unit-testing.</li>
            <li>Desenvolve projetos multilinguagens para e-commerce e CRM, atendendo Clientes da Europa, Africa e America Latina.</li>
          </ul>
        </div>
        <div id="professional_experience">
          <h2 class="title border-bottom">Experiência Profissional</h2>
          <div class="experiences">
            <h3 class="title border-bottom">Senior Software Developer</h3>
            <p class="title-business">Limber Software
              <b>
                <a>www.limbersoftware.com.br</a>
              </b>
              Pato Branco, Parana(Dezembro, 2016 - Até o momento)</p>
            <ul>
              <li>Coordenador da equipe de desenvolvimento web da Limber Software, também atua como Senior Software Developer
                posição qual desenvolve aplicações CRM e Ecommerces para vários tipos de nichos de mercado.</li>
              <li>Desenvolvimento Web: XHTML/HTML(5) Angular, CSS3. Unit-testing. NODEJS</li>
            </ul>
          </div>
          <div class="experiences">
            <h3 class="title border-bottom">Trainer</h3>
            <p class="title-business">Faculdade de Pato Branco - Fadep
              <b>
                <a>www.fadep.br</a>
              </b>
              Pato Branco, Paraná. (2016/2017)</p>
            <ul>
              <li>Ensino aos alunos e entusiastas a desenvolver aplicações web utilizando Es5, AngularJS e capacitando no desenvolvimento
                de software web em geral.</li>
            </ul>
          </div>
          <div class="experiences">
            <h3 class="title border-bottom">Full Stack Developer</h3>
            <p>XPert Tecnologia em Automação
              <b>
                <a>www.xpert.com.br</a>
              </b>
              Pato Branco, Paraná. (Fevereiro, 2013 - Novembro, 2016)</p>
            <ul>
              <li>Desenvolve e mantém aplicações web para atendender clientes no mercado de postos de combustíveis.</li>
              <li>Desenvolvimento Web: XHTML/HTML(5), PHP(Zend), Es5, CSS</li>
            </ul>
          </div>
          <div class="experiences">
            <h3 class="title border-bottom">Full Stack Developer</h3>
            <p>GNC Software para medícina ocupacional
              <b>
                <a>www.sesmo.com.br</a>
              </b>
              Pato Branco, Paraná. (Outubro, 2011 - Fevereiro, 2013)</p>
            <ul>
              <li>Desenvolve e mantém aplicações web para atendender clientes no seguimento de medicina ocupacional.</li>
              <li>Desenvolvimento Web: XHTML/HTML(5), Asp.NET, C#, ExtJS.</li>
            </ul>
          </div>
          <div class="experiences">
            <h3 class="title border-bottom">Help Desk/QA</h3>
            <p>Viasoft Softwares Empresariais
              <b>
                <a>www.viasoft.com.br</a>
              </b>
              Pato Branco, Paraná. (September, 2010 - August, 2011)</p>
            <ul>
              <li>QA em interface para usuários, relatórios personalizados e atendimento ao cliente.</li>
            </ul>
          </div>
          <div class="experiences">
            <h3 class="title border-bottom">Tecnico em Servidor de internet</h3>
            <p>Word Line Net
              <b>
                <a>www.wln.com.br</a>
              </b>
              Realeza, Paraná. (Março, 2009 - Abril, 2010)</p>
            <ul>
              <li>Tecnico em servidores de internet, criação e manutenção em redes, mikrotik e nanoStations, desenvolve paginas
                para acesso direto do cliente a faturas e status.</li>
              <li>Serviços : FTP. DNS. PPoE. RDP. VPN. Apache.</li>
            </ul>
          </div>
          <div class="experiences">
            <h3 class="title border-bottom">Help Desk</h3>
            <p>CS Sistemas
              <b>
                <a>www.csistemas.com.br</a>
              </b>
              Realeza, Paraná. (Maio, 2008 - Fevereiro, 2009)</p>
            <ul>
              <li>Relatórios personalizados e atendimento ao cliente.</li>
            </ul>
          </div>
        </div>
        <div id="skills">
          <h2 class="title border-bottom">Conhecimentos em Tecnologia</h2>
          <ul>
            <li>Frontend: XHTML. HTML(5). CSS3(SASS. LESS). Es5/TypeScript(ExtJS. JQuery. Angular). WebComponents.</li>
            <li>Backend: JAVA. C#. PHP. NODEJS.</li>
            <li>Mobile: Android. Codorva. Ionic. PhoneGap.</li>
            <li>Relatórios: FastReport. QuickReport. PHP(FPDF). DOMPDF. JSPDF.</li>
            <li>Nota Fiscal Eletronica: NF-e, NF-c.</li>
            <li>ECOMMERCE: CIELO. PAYPAL</li>
            <li>SGBD: Microsoft SQL Server 2000, 2005, 2008, 2012. DB2. MySql. PostgreSQL.</li>
            <li>Test: Unit-testing. e2e.</li>
          </ul>
        </div>
        <div id="education">
          <h2 class="title border-bottom">Formação Acadêmica</h2>
          <ul>
            <li>Analise e desenvolvimento de sistemas na Faculdade de Pato Branco - FADEP.</li>
          </ul>
           <ul>
            <li>Colegio Doze de novembro - Realeza.</li>
          </ul>
          <h2 class="title border-bottom">Certificações</h2>
          <ul>
            <li>Trainee web development na Faculdade de Pato Branco - FADEP - Ano(2017).</li>
            <li>Trainee AngularJS na Faculdade de Pato Branco - FADEP - Ano(2016).</li>
            <li>Get Started In UX Design/UI Mastery - Ano(2015).</li>
            <li>AngularJS 1.x Standars - Ano(2015).</li>
            <li>Designing RESTful APIs - Ano(2014).</li>
            <li>Formation Frontend and development with JavaScript e jQuery - Ano(2012).</li>
            <li>Html5 and Web Standards - Ano(2010).</li>
          </ul>
        </div>
        <div id="language_skills">
          <h2 class="title border-bottom">Línguas Estrangeiras</h2>
          <ul>
            <li>Idioma: Inglês.
            </li>
            <li>Escola: Wizard
              <a href="http://www.wizard.com.br/">www.wizard.com.br</a>
            </li>
            <li>Descrição: communicative approach and focusing on issues and writing.
            </li>
            <li>Situação: Incompleto.
            </li>
          </ul>
        </div>
        <div id="contact_details" class="editable">
          <h2 class="title border-bottom">Contato</h2>
          <div class="editable">
            <ul>
              <li>
                <a id="my-email">email:
                  <b>ivanhweb@gmail.com</b>
                </a>
              </li>
              <li>
                <a id="my-page">page:
                  <b>ivanhoinacki.com</b>
                </a>
              </li>
              <li>
                <a id="my-linkedin">linkedin:
                  <b>br.linkedin.com/in/ivanhoinacki</b>
                </a>
              </li>
              <li>
                <a id="my-github">github:
                  <b>github.com/ivanhoinacki</b>
                </a>
              </li>
              <li>
                <a id="my-npm">npm:
                  <b>www.npmjs.org/~ivanhoinacki</b>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <hr/>
      </div>
    </div>
  </div>
</div>
